# Created by .ignore support plugin (hsz.mobi)
.idea/*
go.sum
logs/*
minecraft-servers/*
minecraft-mirrors/*
minecraft-servers-back/*
minecraft-contains/*
databases/*
db-resource/*
web-static-file/*
*.zip
test.*
.DS_Store
conf/*
main
*.exe
*.jar
compress-file
pack-data.go
run.bat
run.sh
MCD-*
tmp/