# Created by .ignore support plugin (hsz.mobi)
.idea/*
go.sum
logs/*
minecraft-servers/*
minecraft-servers-back/*
minecraft-contains/*
databases/*
db-resource/*
web-static-file/*
*.zip
test.*
.DS_Store
conf/*
main
*.exe
main.go
*.jar
compress-file